<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<h2 style = "color: blue; ">
  This is the template where I will allow teachers to see the most commonly asked questions and also be able to Ask 
  <a href="http://railstutorial.org/contact">contact page</a>.
</p>