<h1>About Us</h1>
<p>
  My name is Arian and I'm a complete noob. Using the Hartl tutorial to teach myself how to program. 

  The goal is to become technical to help contribute in a tech team.
</p>

<p>Checkout my About Me Page here <a href= "http://arian-razzaghi.herokuapp.com/home/index" >Arian Razzaghi</a></p>