<footer class="footer">
  <small>
    <a href="http://www.bloc.io/?utm_campaign=new_landing">The Site I'm using to Learn</a>
    created by Arian Razzaghi
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>